.gradient-custom {
    /* fallback for old browsers */
    background: #f093fb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, #03005b , #03005b);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, #03005b , #03005b )
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }
    h3{
        font-family: 'Times New Roman', Times, serif;
    }
    label{
        font-family: 'Times New Roman', Times, serif;
    }
    p{
        font-family: 'Times New Roman', Times, serif;
    }
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form.id{
    font-size: 20px;
}
header{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}
div.container{
    position: sticky;
}